# Build & distribution
dist/
www/
loader/
node_modules/

# Environment
.idea/
.vscode/
.stencil/
.env

# Stencil generated sources
packages/ds2-react/src/react-component-lib/
packages/ds2-react/src/components.ts
